@import "../../../theme.scss";

:host {
  // display: block;
  // width: 400px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 90%;
}
.login-form {
  width: 400px;

  mat-card {
    mat-card-header {
      display: flex;
      justify-content: center;

      mat-card-title {
        font-size: 2rem;
        color: $dark-accent-A200;
      }
    }

    mat-form-field {
      width: 100%;
      padding-top: 1rem;
    }

    mat-card-actions {
      button {
        margin: auto;
        width: 90%;
      }

      h4 {
        margin: 0;
        padding-right: 1rem;
      }
    }
  }
}

.library-info {
  width: 650px;
  padding: 1rem;
  border-left: 1px solid white;

  mat-list-item {
    height: auto;

    p {
      font-size: 1.2rem;
      font-style: italic;
      text-align: justify;
      white-space: normal;
    }
  }
}
